<!-- Remove This Code -->
<div>
    <h3>Timer Item Details</h3>
    <hr class="none">
</div>
<!-- Remove above code -->

<form ng-submit="ContentItem.done($event, ContentItem.item)">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Item Title <span class ="red">*</span></span>
        </div>
        <div class="main col-md-9 pull-right">
            <input type="text" class="form-control" placeholder="Main Title" ng-model="ContentItem.item.data.title" required>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Item Description</span>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="main col-md-12 pull-left">
            <textarea id="text" ui-tinymce="ContentItem.bodyWYSIWYGOptions"
                      class="form-control" rows="5" width="100%"
                      ng-model="ContentItem.item.data.description"></textarea>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="labels col-md-3 padding-right-zero pull-left">
            <span>Timer <span class ="red">*</span></span>
        </div>
        <div class="main col-md-9 pull-right">
            <div class="col-xs-4 pull-left padding-zero">
                <div class="col-xs-5 pull-left padding-zero">
                    <input type="number" min="0" max="23"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                           placeholder="12" ng-model="ContentItem.item.data.timer.hrs" required>
                </div>
                <div class="col-xs-5 pull-left margin-top-five">
                    <span>Hours</span>
                </div>
            </div>
            <div class="col-xs-4 pull-left padding-zero">
                <div class="col-xs-5 pull-left padding-zero">
                    <input type="number" min="0" max="59"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                           placeholder="00" ng-model="ContentItem.item.data.timer.min" required>
                </div>
                <div class="col-xs-5 pull-left margin-top-five">
                    <span>Minutes</span>
                </div>
            </div>
            <div class="col-xs-4 pull-left padding-zero">
                <div class="col-xs-5 pull-left padding-zero">
                    <input type="number" min="0" max="59"
                           onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control"
                           placeholder="00" ng-model="ContentItem.item.data.timer.sec" required>
                </div>
                <div class="col-xs-5 pull-left margin-top-five">
                    <span>Seconds</span>
                </div>
            </div>
        </div>
    </div>
    <hr class="none">
    <div class="item clearfix row">
        <div class="col-md-3 pull-right">
            <input type="submit" class="btn btn-primary stretch" value="Done"/>
        </div>
    </div>
</form>