.fixed-timer h3.title{
	margin-top:50px;
	font-size:18px;
}
.fixed-timer .item-carousel{
	margin:28px 0;
}
.fixed-timer .item-carousel .item p{
	cursor:pointer;
	margin:0;
}
.fixed-timer .timer{
	margin-top:50px;
}
.fixed-timer .timer h1{
	display:inline;
	font-weight:100;
	font-size:40px;
}
.fixed-timer .timer h1 + h1{
	margin-left:6px;
}
.fixed-timer .timer h1 span.unit{
	font-size:20px;
}
.fixed-timer .btn-holder a{
	width:140px;
	text-align:center;
	display:block;
	margin:0 auto;
}